  /* Reset & base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

body {
  font-family: sans-serif;
  background: #000000;
  color: #fff;
  height: 100vh;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#title {
  font-size: 80px;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

.subtitle {
  font-size: 30px;
  font-style: italic;
}

/* Container */
.drum-machine {
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* Grid layout */
.grid {
  flex: 1;
  display: grid;
  margin: 15px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 25px;
}

/* Pads */
.pad {
  width: 100%;
  aspect-ratio: 1 / 1; /* keeps squares */
  border: 3px solid #b1b1b1;
  border-radius: 12px;
  background: #3a3939;
  color: #fff;
  font-size: 2.4rem;
  font-weight:normal;
  cursor: pointer;;
  box-shadow: 5px 5px;

  /* Smooth interaction */
  transition: 
    transform 0.08s ease,
    border-color 0.08s ease,
    background 0.08s ease;
}

/* Press effect */
.pad:active,
.pad.active {
  transform: scale(1.1);
  border-color: #ff1e00;
  box-shadow: 5px 5px #ff1e00;
  background: #333;
}

/* Optional: remove mobile tap highlight */
.pad {
  -webkit-tap-highlight-color: transparent;
}

/* popup on pageload */

 /* Overlay */
    #popupOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      display: none;
      justify-content: center;
      align-items: center;
      font-family: monospace;
    }

    /* Popup box */
    #popupBox {
      background: rgb(162, 154, 154);
      padding: 20px;
      border-radius: 8px;
      width: 90vw;
      height: 40vh;
      text-align: center;
      font-size: 50px;
      box-shadow: 20px 25px 25px rgba(246, 241, 241, 0.531);
    }

    .close {
      margin-top: 25px;
      margin-left: 50%;
      padding: 18px 22px;
      border:#fff;
      background: #b4cde7;
      color: rgb(8, 8, 8);
      border-radius: 4px;
      cursor: pointer;
      font-size: 35px;
      box-shadow: 4px 4px #9eb0c4;
    }

    button:hover {
      background: #0056b3;
    }

    li {
      font-size: 40px;
      font-weight:100 ;
      list-style-type: none;
      text-align: start;
    }